// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


header {
  display: flex;
  align-items: center;

  .navbar {
    width: 100%;
  }

  .nav-link {
    color: #464646 !important;
    font-weight: 700;
    font-size: 0.8rem;
    position: relative;
    transition: color 0.2s;
    border-bottom: 5px solid transparent;

    @media (min-width: 992px) {
      padding: 47px 0 !important; 
      
      &.active {
        color: #0282f9 !important;
        border-bottom: 5px solid #0282f9;
      }
    }

    @media (max-width: 991px) {
      padding: 10px 0;
      &.active {
        color: #0282f9 !important;
      }
    }
  }
}




.jumbotron {
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  min-height: 25rem;
}

.current-series {
  top: -4.5rem;
  left: -0.01rem;
  z-index: 2;
}

.feature-item {
  white-space: nowrap; 
  transition: transform 0.2s;
  cursor: pointer;
}

.feature-item:hover {
  transform: scale(1.05);
}

.feature-img {
  width: 50px; 
  max-height: 50px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .feature-img {
    height: 40px;
  }
  .feature-item span {
    font-size: 0.7rem;
  }
}




footer {
  overflow: hidden;
}

.footer-main {
  background-image: url('../img/footer-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-links {
  z-index:5;
}

.footer-links ul li a {
  color: #959595;
  text-decoration: none;
  font-size: 0.85rem;
}

.footer-links ul li a:hover {
  color: white;
}

.footer-logo-bg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.footer-logo-bg img {
  height: 550px;
  display: block;
}

.bg-dark-custom {
  background-color: #303030;
  position: relative;
}

.footer-social .btn-outline-primary {
  border-color: #0282f9;
  border-radius: 0;
}

.footer-social .btn-outline-primary:hover {
  background-color: #0282f9;
}

.social-icons img {
  cursor: pointer;
  transition: filter 0.2s;
}

.social-icons img:hover {
  filter: brightness(1.5);
}