// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.jumbotron {
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  min-height: 25rem;
}

.current-series {
  top: -4.5rem;
  left: -0.01rem;
  z-index: 2;
}

.feature-item {
  white-space: nowrap; 
  transition: transform 0.2s;
  cursor: pointer;
}

.feature-item:hover {
  transform: scale(1.05);
}

.feature-img {
  width: 50px; 
  max-height: 50px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .feature-img {
      height: 40px;
  }
  .feature-item span {
      font-size: 0.7rem;
  }
}